/node_modules
storage/framework/*
#public/*
#!public/tools/*
public/storage
public/assets
public/.htaccess
public/index.php
storage/*.key
vendor/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
docker-compose.yml

